body {
  font-family: sans-serif;
  margin-left: 120px;
  max-width: 100%;

}

.navbar {
  background-color: #313236;
  height: 100%;
  max-width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

